html {
    height: 100%
}

body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    height: 100%;
    margin: 0;
}

#app {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#timerTouchArea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50vh;
}

#timeList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
}

.infoPanel {
    overflow-y: auto;
}

@media (min-width: 992px) {
    .infoPanel {
        height: 30vh;
    }
}

@media (max-width: 992px) {
    .infoPanel {
        height: 26vh;
    }
}

#scrambleArea {
    font-size: 2em;
}

#timerLabel {
    font-size: 5em;
}

.penalty-link {
    padding-left: 1em;
    cursor: pointer;
    color: #337ab7;
}

.penalty-active {
    color: red;
}