#timerTouchArea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50vh;
}

#timeList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
}

@media (min-width: 992px) {
    #timerInfoArea #panel-body {
        height: 30vh;
    }
}

@media (max-width: 992px) {
    #timerInfoArea #panel-body {
        height: 26vh;
    }
}

#scrambleArea {
    font-size: 2em;
    text-align: justify;
    text-align-last: center;
}

#timerLabel {
    text-align: center;
}

.timer-idle {
    color: inherit;
    font-size: calc(2vw + 4em);
}

.timer-color-inspection {
    color: red;
}

.timer-color-starting {
    color: orange;
}

.timer-color-ready {
    color: green;
}

.timer-color-running {
    color: green;
}

.timer-size-inspection {
    font-size: calc(10vw + 10em);
}

.timer-size-active {
    font-size: calc(5vw + 6em);
}

.penalty-link {
    padding-left: 0.5em;
    cursor: pointer;
    color: #337ab7;
}

.penalty-active {
    color: red;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}