#timerTouchArea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50vh;
}

#timeList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
}

@media (min-width: 992px) {
    #timerInfoArea #panel-body {
        height: 30vh;
    }
}

@media (max-width: 992px) {
    #timerInfoArea #panel-body {
        height: 26vh;
    }
}

#scrambleArea {
    font-size: 2em;
    text-align: justify;
    text-align-last: center;
}

#timerLabel {
    font-size: 5em;
    text-align: center;
}

.timer-inspection {
    color: red;
}

.timer-starting {
    color: orange;
}

.timer-ready {
    color: green;
}

.penalty-link {
    padding-left: 0.5em;
    cursor: pointer;
    color: #337ab7;
}

.penalty-active {
    color: red;
}