#timer-touch-area {
    -webkit-touch-callout: none;
    user-select: none;
    height: 50vh;
}

@media (min-width: 992px) {
    #timer-info-area #panel-body {
        height: 30vh;
    }
}

@media (max-width: 992px) {
    #timer-info-area #panel-body {
        height: 26vh;
    }
}

#scramble-area {
    font-size: 2em;
    text-align: justify;
    text-align-last: center;
}

#timer-label {
    text-align: center;
}

.timer-idle {
    color: inherit;
    font-size: calc(2vw + 4em);
}

.timer-color-inspection {
    color: red;
}

.timer-color-starting {
    color: orange;
}

.timer-color-ready {
    color: green;
}

.timer-color-running {
    color: green;
}

.timer-size-inspection {
    font-size: calc(10vw + 10em);
}

.timer-size-active {
    font-size: calc(5vw + 6em);
}

.penalty-link {
    padding-left: 0.5em;
    cursor: pointer;
    color: #337ab7;
}

.penalty-active {
    color: red;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
