<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Welcome to Firebase Hosting</title>
</head>
<body>
<div id="app">
    <!-- Main header -->
    <nav v-if="aetherium" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aetherium</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="timer" v-bind:class="{ active: ui.activeTab === 'timer' }" v-on:click="ui.activeTab = 'timer'">
                        <a href="#">Timer</a>
                    </li>
                    <li id="stats" v-bind:class="{ active: ui.activeTab === 'stats' }" v-on:click="ui.activeTab = 'stats'">
                        <a href="#">Session Stats</a>
                    </li>
                    <li id="history" v-bind:class="{ active: ui.activeTab === 'history' }" v-on:click="ui.activeTab = 'history'">
                        <a href="#">History</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li v-if="aetherium.activePuzzle && aetherium.activeCategory">
                        <p class="navbar-text">Current Puzzle: {{aetherium.activePuzzle.name}} - {{aetherium.activeCategory.name}}</p>
                    </li>

                    <li>
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#puzzlesModal" v-on:click="onPuzzleModalOpen">Change Puzzle</button>
                    </li>

                    <li class="dropdown" v-if="aetherium && aetherium.user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="userPhoto" v-bind:src="aetherium.user.photoURL" />
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" v-on:click="runExport">Export</a></li>
                            <li><a href="#" v-on:click="runImport">Import</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" v-on:click="openOptionsModal">Options</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" v-on:click="logout">Log out {{ aetherium.user.displayName ? aetherium.user.displayName : aetherium.user.email }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" v-else>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="input-group input-group-sm">
                                    <input type="email" class="form-control" placeholder="Email address" v-model="ui.emailField">
                                    <input type="password" class="form-control" placeholder="Password" v-model="ui.passwordField">
                                    <button type="button" class="btn btn-sm btn-primary center-block" v-on:click="emailLogin">Log in via Email</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Vue Components for each tab -->
    <timer-view v-if="ui.activeTab === 'timer' && aetherium" v-bind:aetherium="aetherium"></timer-view>
    <stats-view v-if="ui.activeTab === 'stats'"></stats-view>
    <history-view v-if="ui.activeTab === 'history'"></history-view>

    <!-- Puzzle selection modal -->
    <div v-if="aetherium && aetherium.puzzles" class="modal fade" id="puzzlesModal" tabindex="-1" role="dialog" aria-labelledby="puzzlesModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
                    <h4 class="modal-title" id="puzzlesModalLabel">Select Puzzle</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="puzzleSelect">Puzzle</label>
                        <select class="form-control" id="puzzleSelect" v-model="ui.puzzleSelection">
                            <option v-for="puzzle in aetherium.puzzles" v-bind:value="puzzle.key">{{puzzle.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categorySelect">Category</label>
                        <select class="form-control" id="categorySelect" v-model="ui.categorySelection">
                            <option v-for="category in aetherium.puzzles[ui.puzzleSelection].categories" v-bind:value="category.key">{{category.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="onPuzzleModalSave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Options Modal -->
    <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="optionsModalLabel">Options</h4>
                </div>

                <div class="modal-body">
                    <label for="showTimerOptionsGroup">Timer Display</label>
                    <div class="btn-group" id="showTimerOptionsGroup" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="timerDisplayOptions" id="showTimer" autocomplete="off" checked>Show
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="timerDisplayOptions" id="hideTimer" autocomplete="off">Hide
                        </label>
                    </div>

                    <hr/>

                    <label for="timerTriggerOptionsGroup">Timer Trigger</label>
                    <div class="btn-group" id="timerTriggerOptionsGroup" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="timerTriggerOptions" id="spacebarTimerTrigger" autocomplete="off" checked>Spacebar
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="timerTriggerOptions" id="stackmatTimerTrigger" autocomplete="off">Stackmat
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="onOptionsModalSave">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
